block content
	section.gallery
		div.container
			div.gallery__wrapper
				div.gallery__grid-inner
					div.gallery__item.gallery__item--one-fr.flip-card.flip-card--l2r
						div.flip-card__front.flip-card__face
							img.gallery__poster(src="../../images/gallery_img1.png")
							
							div.gallery__content
								h4.base-title.base-title--small.base-title--cl_white.base-title--mb10="Что будет с Telegram в России?"
								div.gallery__sublime.sublime
									div.sublime___date.sublime__item 13 Апр 2018
									div.sublime__item
										span.sublime__icon
											+svg("eye")
										span 1352
									div.sublime__item
										span.sublime__icon
											+svg("comment")
										span 11
						div.flip-card__back.flip-card__face
							img.gallery__poster(src="../../images/gallery_img1.png")
							div.gallery__overlay
							div.gallery__content.gallery__content--top
								p.gallery__truncated-post(data-trancate='250')='Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32'
								a.flip-card__link(href='/' title="Читать полностью")
									+svg('arrow-circle-right')
					div.gallery__item.gallery__item--two-fr.flip-card.flip-card--r2l
						div.flip-card__front.flip-card__face
							img.gallery__poster(src="../../images/gallery_img2.png")
						
							div.gallery__content
								h4.base-title.base-title--small.base-title--cl_white.base-title--mb10="Лучшие браузеры 2018 года"
								div.gallery__sublime.sublime
									div.sublime___date.sublime__item 13 Апр 2018
									div.sublime__item
										span.sublime__icon
											+svg("eye")
										span 1352
									div.sublime__item
										span.sublime__icon
											+svg("comment")
										span 11
						div.flip-card__back.flip-card__face
							img.gallery__poster(src="../../images/gallery_img2.png")
							div.gallery__overlay
							div.gallery__content.gallery__content--top
								p.gallery__truncated-post(data-trancate='250')='Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.'
								a.flip-card__link(href='/' title="Читать полностью")
									+svg('arrow-circle-right')
					div.gallery__item.gallery__item--three-fr.flip-card.flip-card--b2t
						div.flip-card__front.flip-card__face
							img.gallery__poster(src="../../images/gallery_img3.png")
						
							div.gallery__content
								h4.base-title.base-title--small.base-title--cl_white.base-title--mb10="Лучшие ноутбуки 2018 года: как грамотно потратить свои денежки"
								div.gallery__sublime.sublime
									div.sublime___date.sublime__item 13 Апр 2018
									div.sublime__item
										span.sublime__icon
											+svg("eye")
										span 1352
									div.sublime__item
										span.sublime__icon
											+svg("comment")
										span 11
						div.flip-card__back.flip-card__face
							img.gallery__poster(src="../../images/gallery_img3.png")
							div.gallery__overlay
							div.gallery__content.gallery__content--top
								p.gallery__truncated-post(data-trancate='620')='Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. В то время некий безымянный печатник создал большу. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum....'
								a.flip-card__link(href='/' title="Читать полностью")
									+svg('arrow-circle-right')
					div.gallery__item.gallery__item--two-row.flip-card.flip-card--l2r
						div.flip-card__front.flip-card__face
							img.gallery__poster(src="../../images/gallery_img4.png")
						
							div.gallery__content
								h4.base-title.base-title--small.base-title--cl_white.base-title--mb10="Заработок на криптовалюте: с вложениями и без	"
								div.gallery__sublime.sublime
									div.sublime___date 13 Апр 2018
									div.sublime__item
										span.sublime__icon
											+svg("eye")
										span 1352
									div.sublime__item
										span.sublime__icon
											+svg("comment")
										span 11
						div.flip-card__back.flip-card__face
							img.gallery__poster(src="../../images/gallery_img4.png")
							div.gallery__overlay
							div.gallery__content.gallery__content--top
								p.gallery__truncated-post(data-trancate='550')='Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).'
								a.flip-card__link(href='/' title="Читать полностью")
									+svg('arrow-circle-right')
				div.gallery__sidebar.sidebar
					h3.base-title.base-title--big.sidebar__title Топ лучших статей
					div.article
						each item in Articles
							a.article__item(href="/")
								div.article__poster
									img.article__image(src=item.poster)
								div.article__content
									h4.base-title.base-title--small.base-title.article__title(data-trancate='40')=item.title
									div.article__date=item.date
									div.sublime.sublime--darc
										div.sublime__item
											span.sublime__icon.sublime__icon--darc
												+svg("eye")
											span=item.views
										div.sublime__item
											span.sublime__icon.sublime__icon--darc
												+svg("comment")
											span=item.comments